body,
html {
    height: 96%;
}

#getdata {
    min-height: 480px;
    margin: 0 auto;
    border: 2px dashed darkgoldenrod;
    border-radius: 10px;
    min-width: 220px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;

}

.welcome {
    color: darkgoldenrod;
    text-align: center;
}

.srch {
    margin-left: 40%;
}

button {
    border: 1px dashed darkgoldenrod;
    border-radius: 3px;
    line-height: 20px;
    font-size: 16px;
    color: darkgoldenrod;
    background-color: #ed9;
}

button:disabled {
    background-color: darkslategray;
    color: #aaa;
}

button:active {
    background-color: orangered;
    color: #fed;
}

.container {
    margin-bottom: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    height: calc(100% - 100px);
    overflow: auto;
}

.rs {

    color: darkgoldenrod;
    text-align: center;
    width: 93%;
    height: auto;
    margin-left: 3%;
    margin-top: 5px;
    border: 1px solid red;
    border-radius: 7px;
    float: left;
    background-color: bisque;
}

.rs>p {
    text-align: center;

}

input {
    text-align: center;
    margin: 6px;
}
.mainTagSet{
    width: 100%;
}
.mainTagSet h6{
    margin: 6px; 
}
.tagSet{
    width: 98%;
    margin: 0;
    min-height: 150px;
    padding: 6px;
}